<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725082507601-qtf1rgpuum14tcr39u6isnbg39qdhken.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725082507601-qtf1rgpuum14tcr39u6isnbg39qdhken</string>
	<key>API_KEY</key>
	<string>AIzaSyAOttqWpbrfkM8FKimJfCi9i-m327yFwl8</string>
	<key>GCM_SENDER_ID</key>
	<string>725082507601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinweng.GoalKeeper</string>
	<key>PROJECT_ID</key>
	<string>goalkeeper-9ec77</string>
	<key>STORAGE_BUCKET</key>
	<string>goalkeeper-9ec77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725082507601:ios:efbb2714e0a8c0c7</string>
	<key>DATABASE_URL</key>
	<string>https://goalkeeper-9ec77.firebaseio.com</string>
</dict>
</plist>